<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <v-row justify="center">
                <v-dialog v-model="user.dialog" persistent max-width="600px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">User Profile</span>
                        </v-card-title>
                        <v-tabs v-model="user.tab" background-color="transparent" color="basil" grow>
                            <v-tab>
                                Login
                            </v-tab>
                            <v-tab>
                                Sign Up
                            </v-tab>
                        </v-tabs>

                        <v-tabs-items v-model="user.tab">
                            <v-tab-item>
                                <v-form ref="login_form" v-model="login.valid" lazy-validation>
                                    <v-card color="basil" flat>
                                        <v-card-text>
                                            <v-container>
                                                <v-row>
                                                    <v-col cols="12">
                                                        <v-text-field :rules="[rules.required]" v-model="user.account"
                                                            label="Account*" required>
                                                        </v-text-field>
                                                    </v-col>
                                                    <v-col cols="12">
                                                        <v-text-field :rules="[rules.required]" v-model="user.password"
                                                            :append-icon="login.pwshow ? 'mdi-eye' : 'mdi-eye-off'"
                                                            :type="login.pwshow ? 'text' : 'password'" label="Password*"
                                                            @click:append="login.pwshow = !login.pwshow" required>
                                                        </v-text-field>
                                                    </v-col>
                                                </v-row>
                                            </v-container>
                                            <small>*indicates required field</small>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="blue darken-1" :loading="login.loading"
                                                :disabled="login.loading" text @click="Login">Login
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-form>
                            </v-tab-item>
                            <v-tab-item>
                                <v-form ref="signup_form" v-model="signup.valid" lazy-validation>
                                    <v-card color="basil" flat>
                                        <v-card-text>
                                            <v-container>
                                                <v-row>
                                                    <v-col cols="12" sm="6" md="4">
                                                        <v-select :items="icons" label="Icon" v-model="user.icon">
                                                            <template v-slot:prepend-inner>
                                                                <img width="24" height="24"
                                                                    :src="'./res/img/' + user.icon + '.png'">
                                                            </template>
                                                            <template slot="item" slot-scope="data">
                                                                <img width="24" height="24"
                                                                    :src="'./res/img/' + data.item + '.png'">
                                                                <v-card-text>{{data.item}}</v-card-text>
                                                            </template>
                                                        </v-select>
                                                    </v-col>
                                                    <v-col cols="12" sm="6" md="4">
                                                        <v-text-field :rules="[rules.required]" v-model="user.name"
                                                            label="User Name*" required>
                                                        </v-text-field>
                                                    </v-col>
                                                    <v-col cols="12" sm="6" md="4">
                                                        <v-text-field :rules="[rules.required]" v-model="user.account"
                                                            label="Account*" required>
                                                        </v-text-field>
                                                    </v-col>
                                                    <v-col cols="12">
                                                        <v-text-field :rules="[rules.required]" v-model="user.password"
                                                            :append-icon="signup.pwshow ? 'mdi-eye' : 'mdi-eye-off'"
                                                            :type="signup.pwshow ? 'text' : 'password'"
                                                            label="Password*"
                                                            @click:append="signup.pwshow = !signup.pwshow" required>
                                                        </v-text-field>
                                                    </v-col>
                                                </v-row>
                                            </v-container>
                                        </v-card-text>
                                        <v-card-text>
                                            <small>*indicates required field</small>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="blue darken-1" :loading="signup.loading"
                                                :disabled="signup.loading" text @click="SignUp">Sign Up</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-form>
                            </v-tab-item>
                        </v-tabs-items>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="room.dialog" persistent max-width="600px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Room</span>
                        </v-card-title>
                        <v-form ref="room_form" v-model="room.valid" lazy-validation>
                            <v-card color="basil" flat>
                                <v-card-actions>
                                    <v-container fill-height fluid>
                                        <v-row align="center" justify="center">
                                            <v-col>
                                                <v-row class="ml-10 mr-10" align="center" justify="center">
                                                    <v-btn block tile outlined color="red" @click="CreateRoom">
                                                        <v-icon left>mdi-home-plus</v-icon> Create Room
                                                    </v-btn>
                                                </v-row>
                                                <v-divider class="mt-10 mb-10"></v-divider>
                                                <v-row class="ml-10 mr-10 mb-0" align="center" justify="center">
                                                    <v-text-field v-model="room.key" class="ma-0 pa-0" label="Room Key"
                                                        dense hide-details shaped outlined required
                                                        :rules="[rules.required]">
                                                    </v-text-field>
                                                </v-row>
                                                <v-row class="ml-10 mr-10 mt-0" align="center" justify="center">
                                                    <v-btn class="ma-0 pa-0" block tile outlined color="blue"
                                                        @click="EnterRoom">
                                                        <v-icon left>mdi-location-enter</v-icon> Enter Room
                                                    </v-btn>
                                                </v-row>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card-actions>
                            </v-card>
                        </v-form>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="msg.dialog" persistent max-width="600px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{msg.title}}</span>
                        </v-card-title>

                        <v-card color="basil" flat>
                            <v-card-text>
                                {{msg.content}}
                            </v-card-text>
                        </v-card>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="msg.dialog = !msg.dialog">OK
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="info.dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>
                    </template>
                    <v-card>
                        <v-toolbar dark color="primary">
                            <v-btn icon dark @click="info.dialog = false">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                            <v-toolbar-title>Room Info</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-list>
                            <v-subheader>Room Key</v-subheader>
                            <v-list-item @click="copyRoomKey">
                                <v-list-item-avatar>
                                    <v-icon>mdi-key-variant</v-icon>
                                </v-list-item-avatar>

                                <v-list-item-content>
                                    <v-list-item-title>
                                        <v-text-field v-model="room.key" ref="roomkey" solo flat hide-details readonly>
                                        </v-text-field>
                                    </v-list-item-title>
                                </v-list-item-content>

                                <v-list-item-action>
                                    <v-btn icon>
                                        <v-icon color="grey lighten-1">mdi-content-copy</v-icon>
                                    </v-btn>
                                </v-list-item-action>
                            </v-list-item>
                            <v-divider></v-divider>
                            <v-subheader>Member</v-subheader>
                            <v-list-item v-for="member in room.members">
                                <v-list-item-avatar>
                                    <img width="24" height="24" :src="'./res/img/' + member.icon + '.png'">
                                </v-list-item-avatar>

                                <v-list-item-content>
                                    <v-list-item-title v-text="member.name"></v-list-item-title>
                                    <v-list-item-subtitle v-text="'('+ member.lat + ',' + member.lng + ')'">
                                    </v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-action>
                                    <v-btn icon @click="viewMember(member.account)">
                                        <v-icon color="grey lighten-1">mdi-card-search-outline</v-icon>
                                    </v-btn>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-dialog>
            </v-row>
            <v-tooltip v-model="tooltip.show" top z-index="300">
                <template v-slot:activator="{ on }">
                    <v-bottom-navigation v-model="bottomNav" app grow>
                        <v-btn value="info" @click="info.dialog = true">
                            <span>Info</span>
                            <v-icon>mdi-account-details</v-icon>
                        </v-btn>

                        <v-btn value="nearby" @click="info.dialog = false">
                            <span>Nearby</span>
                            <v-icon>mdi-map-marker</v-icon>
                        </v-btn>

                        <v-btn value="nearby" @click="ExitRoom">
                            <span>Exit Room</span>
                            <v-icon>mdi-location-exit</v-icon>
                        </v-btn>
                    </v-bottom-navigation>
                </template>
                <span>{{tooltip.content}}</span>
            </v-tooltip>
        </v-app>
    </div>
    <div id="mapid"></div>
    <script src="./js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>